body { background-color: #1f1e33;}

p { background-color: #1f1e33; color: #E8E8EA;}

h1 { background-color: #1f1e33; color: #E8E8EA;}

#nav-table {width: 900px}

#nav-td {width: 200px; text-align:center;}
